.container {
  max-width: 70rem;

  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 45rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 5rem auto 0;

  a {
    display: block;
    
    & + a {
      padding-top: 2rem;

      border-top: 1px solid var(--gray-700);
    }

    time {
      display: flex;
      align-items: center;

      color: var(--gray-300);

      font-size: 1rem;
    }

    strong {
      display: block;

      margin-top: 1rem;

      font-size: 1.5rem;
      line-height: 2rem;

      transition: color 0.2s;
    }

    p {
      margin-top: 0.5rem;

      color: var(--gray-300);

      line-height: 1.625rem;
    }

    &:hover {
      color: var(--yellow-500);
    }
  }
}