.signInButton {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 0 1.5rem;
  
  border-radius: 3rem;
  border: 0;

  background: var(--gray-850);
  color: var(--white);

  font-weight: bold;

  transition: filter 0.2s;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    filter: brightness(0.8);
  }
}